@font-face {
    font-family: 'almoni-neue';
    font-weight: 300;
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-aaa-300.woff');
}

@font-face {
    font-family: 'almoni-neue';
    font-weight: 400;
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-aaa-400.woff');
}

@font-face {
    font-family: 'almoni-neue';
    font-weight: 700;
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-aaa-700.woff');
}

@font-face {
    font-family: 'almoni-neue';
    font-weight: 900;
    font-style: normal;
    src: url('../../assets/fonts/almoni-neue-aaa-900.woff');
}