// COLORS
$color-1: #293862;
$color-2: #00D1FF;
$color-3: #564BB8;
$color-3: #D500F9;
$color-light: #FFFFFF;
$color-dark: #111;

// Gradient Colors
// NAV:          #FDFDFE  & #EFF6FF
// TOP FORM:     $color-2 & $color-3
// SPEC:         #1565C0  & #4527A0
// BOTTOM FORM:  $color-2 & $color-3
// FOOTER:       #3D5598  & #2A3963

// FONTS
$font-primary: 'almoni-neue';

// measurement
:root {
    --navHeight: 8.5rem;
}
